* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
    color: hsl(30, 10%, 34%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 50vw;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    .heading {
        font-family: "Young Serif", serif;
        font-weight: 300;
        color: hsl(14, 45%, 36%);
        
    }
    div:not(.preparation-desc, :last-child) {
        padding-bottom: 20px;
        border-bottom: 1px solid hsl(30, 18%, 87%);
        p {
            font-family: 'outfit', sans-serif;
            color: hsl(30, 10%, 34%);
            text-align: justify;
            font-size: 16px;
        }
    }
    img {
        width: 100%;
        border-radius: 7px;
    }
}

.heading-part {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    .recipe-heading {
        font-family: "Young Serif", serif;
        font-weight: 300;
        color: black;
    }
    .preparation-desc {
        background-color: hsl(330, 100%, 98%);
        padding: 20px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        h3 {
            color: hsl(332, 51%, 32%);
            font-family: 'outfit', serif;
        }
        ul {
            padding-left: 25px;
            li {
                margin-top: 10px;
                font-size: 16px;
            }
        }
    }
}

.ingredients {
    ul {
        padding-left: 25px;
        li {
            margin-top: 10px;
            font-size: 16px;
        }
    }
}

.instructions {
    ol {
        margin-left: 25px;
        li {
            margin-top: 10px;
            font-size: 16px;
        }
    }
}

.nutrition {
    p {
       margin: 15px 0; 
       font-size: 16px;
    }
    table {
        width: 100%;
        tr {
            height: 40px;
            td {
                padding: 20px;
                border-bottom: 1px solid hsl(30, 18%, 87%);
                font-size: 16px;
            }
            .qty {
                color: hsl(14, 45%, 36%);
                font-weight: 600;
            }
            .no-border {
                border: none;
            }
        }
    }
}

@media (max-width: 600px) {
    main {
        width: 100vw;
        padding: 0;
        margin: 0;
        border-radius: 0;
        div {
            margin: 0 20px;
        }
        img {
            border-radius: 0;
        }
    }
    footer {
        display: none;
    }
}